*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}